<a href="https://colab.research.google.com/github/yhutagal/GoogleColab-Connection/blob/main/Beginner/Coursera_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import calmap
from pandas_profiling import ProfileReport

Link to data source: https://www.kaggle.com/aungpyaeap/supermarket-sales

**Context**

The growth of supermarkets in most populated cities are increasing and market competitions are also high. The dataset is one of the historical sales of supermarket company which has recorded in 3 different branches for 3 months data.

**Data Dictionary**

1. ***Invoice id:*** Computer generated sales slip invoice identification number

2. ***Branch:*** Branch of supercenter (3 branches are available identified by A, B and C).

3. ***City:*** Location of supercenters

4. ***Customer type:*** Type of customers, recorded by Members for customers using member card and Normal for without member card.

5. ***Gender:*** Gender type of customer

6. ***Product line:*** General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel

7. ***Unit price:*** Price of each product in USD

8. ***Quantity:*** Number of products purchased by customer

9. ***Tax:*** 5% tax fee for customer buying

10. ***Total:*** Total price including tax

11. ***Date:*** Date of purchase (Record available from January 2019 to March 2019)

12. ***Time:*** Purchase time (10am to 9pm)

13. ***Payment:*** Payment used by customer for purchase (3 methods are available \u2013 Cash, Credit card and Ewallet)

14. ***COGS:*** Cost of goods sold

15. ***Gross margin percentage:*** Gross margin percentage

16. ***Gross income:*** Gross income

17. ***Rating:*** Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

In [2]:
from google.colab import drive
import os
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:

# read dataset from colab
df = pd.read_excel('/content/drive/My Drive/Data Analytics/Datasets/supermarket_sales.xlsx')

In [4]:
#read dataset from localhost
from google.colab import files

uploaded = files.upload()

Saving supermarket_sales - Sheet1.xlsx to supermarket_sales - Sheet1 (1).xlsx

  ### Task 1: Initial Data Exploration

In [5]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,43586,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,43680,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,43527,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,43679,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

In [6]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [7]:
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [8]:
#Change Date columns from object to datetime dtypes
df['Date'] = pd.to_datetime(df['Date'])

In [9]:
#After change, set date as indexes (Primary key)
df.set_index('Date', inplace = True)

In [10]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Time,Payment,cogs,gross margin percentage,gross income,Rating
Date,,,,,,,,,,,,,,,,
1970-01-01 00:00:00.000043586,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1970-01-01 00:00:00.000043680,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,10:29:00,Cash,76.40,4.761905,3.8200,9.6
1970-01-01 00:00:00.000043527,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
2019-01-27 00:00:00.000000000,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
1970-01-01 00:00:00.000043679,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

In [11]:
df.describe() #statistik numerical

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,0.000000,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

### Task 2: Univariate Analysis

**Question 1:** What does the distribution of customer ratings looks like? Is it skewed?

In [12]:

sns.distplot(df['Rating'])
#sns.histplot(df['Rating'], color="red", label="Test")
plt.axvline(x=np.mean(df['Rating']),c='red', ls='--', label = 'mean')
plt.axvline(x=np.percentile(df['Rating'],25),c = 'green', label = '25 percentile')
plt.axvline(x=np.percentile(df['Rating'],75),c = 'blue')
plt.legend()

/usr/local/lib/python3.7/dist-packages/seaborn/distributions.py:2619: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)

In [13]:
df.hist(figsize = (12,10))

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x7fdd603afc50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7fdd6035f050>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7fdd60310650>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x7fdd602bfc50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7fdd602fb290>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7fdd602ac810>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x7fdd602670d0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7fdd60219810>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7fdd60223950>]],
      dtype=object)

**Question 2:** Do aggregate sales numbers differ by much between branches?

In [14]:
sns.countplot(df['Branch'])
sns.countplot(df['Payment'])

/usr/local/lib/python3.7/dist-packages/seaborn/_decorators.py:43: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  FutureWarning
/usr/local/lib/python3.7/dist-packages/seaborn/_decorators.py:43: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  FutureWarning

In [15]:
df['Branch'].value_counts()

A    340
B    332
C    328
Name: Branch, dtype: int64

In [16]:
df['Payment'].value_counts()

Ewallet        345
Cash           344
Credit card    311
Name: Payment, dtype: int64

### Task 3: Bivariate Analysis = using scatter plots

**Question 3:** Is there a relationship between gross income and customer ratings?

In [17]:
sns.scatterplot (df['Rating'], df['gross income']) #no relationship

/usr/local/lib/python3.7/dist-packages/seaborn/_decorators.py:43: FutureWarning: Pass the following variables as keyword args: x, y. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  FutureWarning

In [18]:
sns.boxplot (x=df['Branch'], y=df['gross income']) #no relationship

In [19]:
sns.boxplot (x=df['Gender'], y=df['gross income']) #there is outliers

**Question 4:** Is there a noticable time trend in gross income

In [20]:
#dates are repeat,because maybe there is a multiple customer on a same date
#so we have to aggregate date 

df.groupby (df.index).mean()
#each date row now is unique and represent average for particular columns

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
Date,,,,,,,,
1970-01-01 00:00:00.000043466,54.995833,6.750000,18.830083,395.431750,376.601667,4.761905,18.830083,6.583333
1970-01-01 00:00:00.000043467,58.795000,6.666667,19.401083,407.422750,388.021667,4.761905,19.401083,6.800000
1970-01-01 00:00:00.000043468,50.283000,4.500000,12.544600,263.436600,250.892000,4.761905,12.544600,6.630000
1970-01-01 00:00:00.000043497,44.635000,6.000000,11.580375,243.187875,231.607500,4.761905,11.580375,6.050000
1970-01-01 00:00:00.000043498,49.352857,5.928571,14.084857,295.782000,281.697143,4.761905,14.084857,7.171429
...,...,...,...,...,...,...,...,...
2019-03-26 00:00:00.000000000,42.972308,4.000000,7.188692,150.962538,143.773846,4.761905,7.188692,6.623077
2019-03-27 00:00:00.000000000,56.841000,4.500000,13.822950,290.281950,276.459000,4.761905,13.822950,6.760000
2019-03-28 00:00:00.000000000,45.525000,4.800000,10.616200,222.940200,212.324000,4.761905,10.616200,7.050000
2019-03-29 00:00:00.000000000,66.346250,6.750000,23.947875,502.905375,478.957500,4.761905,23.947875,6.925000
2019-03-30 00:00:00.000000000,67.408182,6.090909,19.424500,407.914500,388.490000,4.761905,19.424500,6.800000

In [21]:
#only 3 months data coz of groupby above
sns.lineplot(x=df.groupby (df.index).mean().index, 
             y=df.groupby (df.index).mean()['gross income'],
             )

In [22]:
df[df.index.duplicated()]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Time,Payment,cogs,gross margin percentage,gross income,Rating
Date,,,,,,,,,,,,,,,,
1970-01-01 00:00:00.000043772,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.30,2,4.0300,84.6300,15:30:00,Ewallet,80.60,4.761905,4.0300,4.4
2019-02-25 00:00:00.000000000,300-71-4605,C,Naypyitaw,Member,Male,Electronic accessories,86.04,5,21.5100,451.7100,11:24:00,Ewallet,430.20,4.761905,21.5100,4.8
1970-01-01 00:00:00.000043679,649-29-6775,B,Mandalay,Normal,Male,Fashion accessories,33.52,1,1.6760,35.1960,15:31:00,Cash,33.52,4.761905,1.6760,6.7
2019-03-15 00:00:00.000000000,848-62-7243,A,Yangon,Normal,Male,Health and beauty,24.89,9,11.2005,235.2105,15:36:00,Cash,224.01,4.761905,11.2005,7.4
2019-02-25 00:00:00.000000000,871-79-8483,B,Mandalay,Normal,Male,Fashion accessories,94.13,5,23.5325,494.1825,19:39:00,Credit card,470.65,4.761905,23.5325,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-29 00:00:00.000000000,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
1970-01-01 00:00:00.000043499,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4
1970-01-01 00:00:00.000043710,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,13:22:00,Cash,31.84,4.761905,1.5920,7.7
2019-02-22 00:00:00.000000000,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,15:33:00,Cash,65.82,4.761905,3.2910,4.1
2019-02-18 00:00:00.000000000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,13:28:00,Cash,618.38,4.761905,30.9190,6.6

In [23]:
new_index = df[~df.index.duplicated()]

In [26]:
#timeconsuming
sns.pairplot(new_index)


### Task 4: Dealing With Duplicate Rows and Missing Values

In [27]:
df.duplicated()

Date
1970-01-01 00:00:00.000043586    False
1970-01-01 00:00:00.000043680    False
1970-01-01 00:00:00.000043527    False
2019-01-27 00:00:00.000000000    False
1970-01-01 00:00:00.000043679    False
                                 ...
2019-01-29 00:00:00.000000000    False
1970-01-01 00:00:00.000043499    False
1970-01-01 00:00:00.000043710    False
2019-02-22 00:00:00.000000000    False
2019-02-18 00:00:00.000000000    False
Length: 1000, dtype: bool

In [30]:
df.duplicated().sum() #no duplicated

0

In [33]:
df[df.duplicated () == True]

Empty DataFrame
Columns: [Invoice ID, Branch, City, Customer type, Gender, Product line, Unit price, Quantity, Tax 5%, Total, Time, Payment, cogs, gross margin percentage, gross income, Rating]
Index: []

In [34]:
df.drop_duplicates(inplace=True)

**Check missing Values**

In [35]:
df.isna().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [38]:
df.isna().sum()/len(df) #percentage of missing values

Invoice ID                 0.0
Branch                     0.0
City                       0.0
Customer type              0.0
Gender                     0.0
Product line               0.0
Unit price                 0.0
Quantity                   0.0
Tax 5%                     0.0
Total                      0.0
Time                       0.0
Payment                    0.0
cogs                       0.0
gross margin percentage    0.0
gross income               0.0
Rating                     0.0
dtype: float64

In [40]:
sns.heatmap(df.isna()) #index on left side, and values on the right..white values are missing

In [45]:
#handling missing values
df.fillna(df.mean(),inplace = True) #mean ofcourse only for numerical values, not categorical

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [48]:
#handling missing values
df.fillna(df.mode().iloc[0],inplace = True) #also for categorical using mode on 0 index

In [60]:
#uploaded_report = ProfileReport (df)
#uploaded_report

#join_axes was deprecated in pandas 1.0+ (doc). You can use pandas 0.25 to generate the report.
#Updating pandas to 1.0 seems to be failling

In [64]:
print(pd.__version__)

1.3.5

### Task 5: Correlation Analysis

In [67]:
np.corrcoef(df['gross income'], df['Rating']) #seems its negative correlation

array([[ 1.       , -0.0364417],
       [-0.0364417,  1.       ]])

In [71]:
round(np.corrcoef(df['gross income'], df['Rating'])[1][0],2)  #we can conclude its negative correlation -0.04

-0.04

In [74]:
#correlation matrix
np.round(df.corr(),2) #rating are low correlations with all

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
Unit price,1.00,0.01,0.63,0.63,0.63,NaN,0.63,-0.01
Quantity,0.01,1.00,0.71,0.71,0.71,NaN,0.71,-0.02
Tax 5%,0.63,0.71,1.00,1.00,1.00,NaN,1.00,-0.04
Total,0.63,0.71,1.00,1.00,1.00,NaN,1.00,-0.04
cogs,0.63,0.71,1.00,1.00,1.00,NaN,1.00,-0.04
gross margin percentage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gross income,0.63,0.71,1.00,1.00,1.00,NaN,1.00,-0.04
Rating,-0.01,-0.02,-0.04,-0.04,-0.04,NaN,-0.04,1.00

In [75]:
sns.heatmap(np.round(df.corr(),2))

More